*.DS_Store
/work
/npm-debug.log
/node_modules
/skeleton/log/*.log
/skeleton/public/test
/test/fixtures/tmp
/test/fixtures/test-skeleton/public/assets/*.js
/test/fixtures/test-skeleton/public/assets/*.css
/test/fixtures/test-skeleton/log/*.log
